<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">

      <% @properties.each_with_index do |property, index| %>

        <%= render partial: 'shared/card', locals: { property: property }%>

      <% end %>

    </div>
    <div class="col-sm-6">
      <div id="map"
      style="width: 100%; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="pk.eyJ1IjoiYWxleHRlcmVuZGEiLCJhIjoiY2tsamE4NmpsMjc4bDJzbWc4M2p6dm0yYyJ9.rTJ2Lvv2WLBHLvxJPa8g3w">
    </div>
  </div>
</div>
</div>
