<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 cards-container">

      <% @properties.each_with_index do |property, index| %>

        <%= render partial: 'shared/card', locals: { property: property, index: property.id }%>

      <% end %>

    </div>
    <div class="col-sm-6 map-container">
      <div class="map-wrapper">
        <%= render partial: 'shared/map' %>
      </div>

  </div>
</div>
</div>
