<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <ul>
        <% @properties.each do |property| %>
        <li><%= link_to property.address, property_path(property) %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-sm-6">
      <div id="map"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="pk.eyJ1IjoiYWxleHRlcmVuZGEiLCJhIjoiY2tsamE4NmpsMjc4bDJzbWc4M2p6dm0yYyJ9.rTJ2Lvv2WLBHLvxJPa8g3w">
      </div>
    </div>
  </div>
</div>
