<div class="<%= @controller_name == "properties" ? 'header-search-form' : 'header-search-form-property-index' %>">

 <%= form_tag properties_path, method: :get do %>

 <div>
    <%= text_field_tag :query,
 params[:query],
 class: "header-search-form-input",
  placeholder: "Where do you want to go?"
  %>
 </div>

 <%= button_tag(type: "submit", class: "header-search-form-button") do %>
      <i class="fas fa-search search-icon"></i>
    <% end %>
  <% end %>

</div>
