<main>
  <div class='header-section'>
    <div class='image-shader'>
      <section class="py-5 container">
        <div class="row py-5 header-container">
          <div class="col-lg-8 col-md-8 mx-auto mt-5">
            <h1 class="header-title">Welcome to Airbnb 2.0!</h1>
            <p class="header-paragraph">Find your next destination below</p>

            <!-- SEARCH FORM -->

            <div class="header-search-form">

             <%= form_tag properties_path, method: :get do %>

             <div>
                <%= text_field_tag :query,
             params[:query],
             class: "header-search-form-input",
              placeholder: "Where do you want to go?"
              %>
             </div>

             <%= button_tag(type: "submit", class: "header-search-form-button") do %>
                  <i class="fas fa-search search-icon"></i>
                <% end %>
              <% end %>

            </div>


            <!-- SEARCH FORM -->


          </div>
        </div>
      </section>
    </div>
  </div>


  <div class="pb-5 pt-4 bg-light">
    <div class="container-fluid px-4">
      <h2 class="location-section-header">Explore Nearby</h2>
      <div class="location-card-container">
        <div class="location-card">
          <img src="https://a0.muscache.com/im/pictures/7d80bee1-a510-4950-a1a0-07a4fb25ec2e.jpg?im_q=medq&im_w=240" alt="" class="location-image">
          <h2 class="location-title">Newquay</h2>
        </div>
        <div class="location-card">
          <img src="https://a0.muscache.com/im/pictures/0445ba36-5684-4cca-9cb1-418a0ffdcd2f.jpg?im_q=medq&im_w=240" alt="" class="location-image">
          <h2 class="location-title">Lyme Regis</h2>
        </div>
        <div class="location-card">
          <img src="https://a0.muscache.com/im/pictures/3849e3f1-d275-43fb-8957-4c90f26e14db.jpg?im_q=medq&im_w=240" alt="" class="location-image">
          <h2 class="location-title">Plymouth</h2>
        </div>

        <div class="location-card">
          <img src="https://a0.muscache.com/im/pictures/42901911-940b-45ac-997e-961ebf472195.jpg?im_q=medq&im_w=240" alt="" class="location-image">
          <h2 class="location-title">Windemere</h2>
        </div>

        <div class="location-card">
          <img src="https://a0.muscache.com/im/pictures/c2eba2e9-0d80-4704-9e2c-34ac16316c53.jpg?im_q=medq&im_w=240" alt="" class="location-image">
          <h2 class="location-title">Whitstable</h2>
        </div>

        <div class="location-card">
          <img src="https://a0.muscache.com/im/pictures/73ab906b-eea1-425d-9fea-bf2c79d86556.jpg?im_q=medq&im_w=240" alt="" class="location-image">
          <h2 class="location-title">Southampton</h2>
        </div>

        <div class="location-card">
          <img src="https://a0.muscache.com/im/pictures/da75656c-f2d5-4878-aade-f2971842365f.jpg?im_q=medq&im_w=240" alt="" class="location-image">
          <h2 class="location-title">Norwich</h2>
        </div>

        <div class="location-card">
          <img src="https://a0.muscache.com/im/pictures/be4d3ba5-08d7-4afe-95a7-f2da6453886a.jpg?im_q=medq&im_w=240" alt="" class="location-image">
          <h2 class="location-title">Hastings</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="py-3 feature-section">
    <div class="container-fluid px-4 pb-4">
      <h2 class="feature-section-header">Your Perfect Home</h2>
      <div class="feature-card-container">

        <div class="feature-card">
          <img class="feature-card-image card-img-top" src="https://a0.muscache.com/im/pictures/7d82ca14-56e5-4465-8218-dcfa7d69b6ac.jpg?im_w=720" alt=""></img>
          <div class="feature-card-body">
            <h3 class="feature-card-text">Houses</h3>
          </div>
        </div>

        <div class="feature-card">
          <img class="feature-card-image card-img-top" src="https://www.nastjah.com/storage/image/201904//original/airbnbnaja-0005.jpg"></img>
          <div class="feature-card-body">
            <h3 class="feature-card-text">Flats</h3>
          </div>
        </div>

        <div class="feature-card">
          <img class="feature-card-image card-img-top" src="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blt163f6c374ab5b090/5e1cc881b282e90da2c90cb1/020619-Plus_Host-Kelly-02287_JL1.jpg?crop=100p,84p,x0,y15p&width=720&height=405&auto=webp"></img>
          <div class="feature-card-body">
            <h3 class="feature-card-text">Kitchen Available</h3>
          </div>
        </div>

        <div class="feature-card">
          <img class="feature-card-image card-img-top" src="https://coolmaterial.com/wp-content/uploads/2015/11/airbnb-50.jpg"></img>
          <div class="feature-card-body">
            <h3 class="feature-card-text">Accessible Budget</h3>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>
