.card-container {
  display: flex;
  background-color: white;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  padding: 8px;

  position: relative;
  transition: all .25s ease-in-out;

  &:hover {
    transform: scale(1.025);
    box-shadow: 0px 8px 12px 2px rgba(72,72,72,.08);
  }
}

.card-ribbon {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.card-ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: $dark-pink;
  background: linear-gradient($pink 0%, $dark-pink 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}
.card-ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid $dark-pink;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid $dark-pink;
}
.card-ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid $dark-pink;
  border-bottom: 3px solid transparent;
  border-top: 3px solid $dark-pink;
}

.card-image-container {
  max-width: 40%;
  padding: 8px;
  width: 40%;
  object-fit: cover;
}

.card-image {
  border-radius: 8px;
  width: 100%;
  height: 200px;
  background: $dark-grey;
  object-fit: cover;
}

.card-contents {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 8px;
  width: 60%;
  padding-left: 16px;
}

.card-badges {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: $dark-grey;
  font-weight: 500;
  position: relative;
  height: 32px;
  border: 1px solid green;
}

.card-badge {
  color: $pink;
  background-color: #FFE4E6;
  border-radius: 9999px;
  padding: 2px 8px;
  margin-right: 12px;
}

.card-supertitle {


}

.card-buttons-container {
  display: flex;
  align-items: center;
  padding: 2px;
  border: 1px solid red;
  margin-left: auto;
}

.button-container {
  display: flex;
  align-items: center;
  height: 24px;
  width: 24px;
  justify-content: center;
  padding: 8px;
  border: 1px solid blue;
}

.button {
  color: $dark-grey;
  transition: all .2s ease-in-out;
  padding: 4px;

  &:hover {
    transform: scale(1.2);
  }
}

.edit-button {

}

.delete-button {

}
.favourite-button {

}

.card-title {
  font-size: 16px;
  font-weight: 600;
}

.card-details {
  margin-top: 4px;
}

.card-subtitle {
  font-size: 12px;
  color: $dark-grey;
}

.card-spacer {
  margin-top: 12px;
  margin-bottom: 12px;
  width: 32px;
  border-top: 1px solid rgb(221, 221, 221);
}

.card-link {
  text-decoration: none;
  font-size: 14px;
  color: $pink;
  margin-top: auto;

  &:hover {
    color: $dark-pink;
  }
}

.card-metadata {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 2px;
}

@media (max-width: 992px) {
  .card-metadata {
    flex-direction: column;
    align-items: flex-start;
  }
}

.card-price {
  margin: 0px;
    white-space: nowrap;
}

.card-price-number {

}


.card-price-unit {
  font-size: 16px;

  color: $dark-grey;

}

.card-price-small {
  font-size: 12px;
  color: $dark-grey;

}

.card-price-small {
  font-size: 12px;
  color: $dark-grey;
}

.card-reviews {
  display: inline-block;
  white-space: nowrap;
}


.card-reviews {
  display: inline-block;
  white-space: nowrap;
}


.card-review-count {
    font-size: 12px;
  color: $dark-grey;
}


.confetti-button {
  -webkit-appearance: none;
  appearance: none;
  // background: url("https://www.flaticon.com/svg/vstatic/svg/1077/1077035.svg?token=exp=1614273332~hmac=f1b37cb144d4edcca0d740026cc1cfb3");
  color: #fff;
  height: 24px;
  width: 24px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
}

.confetti-button:focus { outline: 0; }


.confetti-button:before, .confetti-button:after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.confetti-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #FF385C 20%, transparent 20%), radial-gradient(circle, transparent 20%, #FF385C 20%, transparent 30%), radial-gradient(circle, #FF385C 20%, transparent 20%), radial-gradient(circle, #FF385C 20%, transparent 20%), radial-gradient(circle, transparent 10%, #FF385C 15%, transparent 20%), radial-gradient(circle, #FF385C 20%, transparent 20%), radial-gradient(circle, #FF385C 20%, transparent 20%), radial-gradient(circle, #FF385C 20%, transparent 20%), radial-gradient(circle, #FF385C 20%, transparent 20%);
  background-size: 20% 20%, 40% 40%, 30% 30%, 40% 40%, 36% 36%, 20% 20%, 30% 30%, 20% 20%, 36% 36%;
}

.confetti-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #FF385C 20%, transparent 20%), radial-gradient(circle, #FF385C 20%, transparent 20%), radial-gradient(circle, transparent 10%, #FF385C 15%, transparent 20%), radial-gradient(circle, #FF385C 20%, transparent 20%), radial-gradient(circle, #FF385C 20%, transparent 20%), radial-gradient(circle, #FF385C 20%, transparent 20%), radial-gradient(circle, #FF385C 20%, transparent 20%);
  background-size: 30% 30%, 40% 40%, 36% 36%, 40% 40%, 30% 30%, 20% 20%, 40% 40%;
}

.confetti-button:active {
  transform: scale(0.9);
}

.confetti-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}

.confetti-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}
 @keyframes
topBubbles {  0% {
 background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
}
 50% {
 background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
}
 100% {
 background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
 background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
}
}
@keyframes
bottomBubbles {  0% {
 background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
}
 50% {
 background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
}
 100% {
 background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
 background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
}
}

.pink {
  color: $pink;
  
  &:hover {
    color: $dark-pink;
  }
}

